doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title lukelov.es
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container
      .site
        .header
          h1.title
            a(href='/') lukelov.es
          a.extra(href='/') home

        div
          block content
          != yield

        .footer
          .contact
            p
              | I'm Luke.
              br
              | I work with awesome people at 
              a(href='http://andyet.com') &yet
              | .
              br
              | I live in Arizona but I'm from the Internet.

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8402584-6']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
